<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <!-- a,get -->
    <!-- <script>
        function getXhr(){
            if(window.XMLHttpRequest){ 
                return new XMLHttpRequest();              
            }else{
                return new  ActiveXObject("Microsoft.XMLHTTP")
        }
    }
    </script> -->
    <!-- <script src="/static/js/common.js"></script> -->
</head>
<body>
    <!-- a,get -->
    <!-- <button onclick="console.log(getXhr())">创建xhr</button> -->
    <!-- a,带参数get -->
<!--     <p>
        用户名：<input type="text" id="uname">
        <br>
        <button onclick=btnAjax()>发送AJAX请求</button>
    </p>
    <div id="show"></div>
    <script src="/static/js/common.js"></script>
    <script>
        //在js中，可以用  alert("我是一个警告框！")  进行调试
        function btnAjax(){
            var xhr = getXhr();
            var uname = document.getElementById('uname').value;
            var url = "/03-server?uname="+uname;
            xhr.open('get',url,true);
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    document.getElementById('show').innerHTML = xhr.responseText;
                }
            }
            xhr.send(null)
        }
    </script> -->
    <!-- post请求 -->
 <!--    <button onclick="btnAjax()">发送POST请求</button>
    <div id="show"></div>
    <script src="/static/js/common.js"></script>
    <script>
        function btnAjax(){
            var xhr = getXhr();
            xhr.open('post','/04-server',true);
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    document.getElementById('show').innerHTML = xhr.responseText;
                }
            }
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            params="uname=wangwc&age=35"
            xhr.send(params);
        }
    </script> -->

<!-- 鼠标焦点 -->
<script>
    $(function)(){
        $("[name='loginname']").blur(function){
            // this表示dom对象，dom是用.value，jquery使用value方法
            var lname = this.value
        }
    }
</script>







</body>
</html>
