

set_web_master_crontab () {
    website_slaveip=`echo $webslaveip | awk '{print $1}'`
    RanDom=$(($RANDOM%59))
    echo "########5分钟同步本地的views、data
*/5 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/admin_7001/data/ rsync@127.0.0.1::data >>/dev/null 2>&1
*/5 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/admin_7001/data/ rsync@$website_slaveip::data >>/dev/null 2>&1
*/5 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/cms_9001/views/ rsync@127.0.0.1::views >>/dev/null 2>&1
*/5 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/cms_9001/views/ rsync@$website_slaveip::views >>/dev/null 2>&1
*/5 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/apps/nginx/conf/ rsync@$website_slaveip::nginx_conf >>/dev/null 2>&1
###########全量同步web
##web_8001
*/30 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/web_8001/ rsync@$website_slaveip::web8001 >>/dev/null 2>&1
##anls_8002
0 6 * * *  /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/anls_api_8002/ rsync@$website_slaveip::anls8002 >>/dev/null 2>&1
##wechat_8003
0 6 * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/wechat_8003/ rsync@$website_slaveip::wechat8003 >>/dev/null 2>&1
##admin_7001
*/30 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/admin_7001/ rsync@$website_slaveip::admin7001 >>/dev/null 2>&1
##work_7002
*/30 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/work_7002/ rsync@$website_slaveip::work7002 >>/dev/null 2>&1
##agent_7003
*/30 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/agent_7003/ rsync@$website_slaveip::agent7003 >>/dev/null 2>&1
##cms_9001
*/30 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/cms_9001/ rsync@$website_slaveip::cms9001 >>/dev/null 2>&1
##live_work9002
*/30 * * * * /opt/apps/rsync/bin/rsync -avz --password-file=/opt/scripts/.rsyncd.passwd --port=1873 --delete /opt/webapps/live_work_9002/ rsync@$website_slaveip::live_work9002 >>/dev/null 2>&1" > /var/spool/cron/swadmin

echo "######备份data_views_nginx  
$RanDom 4 * * *   /bin/bash /opt/scripts/*webback.sh" >>/var/spool/cron/swadmin

	
    chown  swadmin:swadmin /var/spool/cron/swadmin
    chmod 600 /var/spool/cron/swadmin
    crontab -l -u  swadmin
    echo '########nginx目录备份
00 03 * * *  sudo /usr/bin/bash /opt/scripts/nginx_back.sh
########日志切割
01 00 * * *  sudo /usr/bin/bash /opt/scripts/CUT_NGLOG.sh
02 00 * * *  sudo /usr/bin/bash /opt/scripts/CUT_TOMCAT.sh
#备份webapps
03 00 * * *  sudo /usr/bin/bash /opt/scripts/webapps_back.sh
#update GeoIP ，官网每个月更新一次
00 00 8 * *  sudo -u swadmin  /usr/bin/bash /opt/scripts/GEO_UPDATE.sh' >/var/spool/cron/ybadmin
    chown ybadmin.ybadmin /var/spool/cron/ybadmin
    chmod 600 /var/spool/cron/ybadmin
    crontab -l -u ybadmin
	sudo -u swadmin  /usr/bin/bash /opt/scripts/GEO_UPDATE.sh
}


set_mysql_master_crontab () {
    echo '######备份数据库
5 5 * * * sudo  /bin/bash /opt/scripts/mysqlback.sh
' >>/var/spool/cron/ybadmin
    chown ybadmin.ybadmin /var/spool/cron/ybadmin
    chmod 600 /var/spool/cron/ybadmin
    crontab -l -u ybadmin
}



