<!DOCTYPE html>
<html>
<head>
    <title>Django</title>
    <!-- form模块 -->
<!--     <style>
        #id_subject{
            border: none;
            border-bottom:1px solid #000;
            outline: none;
        }
    </style> -->
    
    <!-- form小部件高级版 -->
    <style>
        input.form-control{
            border: 1px solid #000;
            width:300px;
            height:30px;
            box-sizing: border-box;
            padding:3px 10px;
        }
    </style>
</head>
<body>
<!-- <h1>这是我的第一个Django模板</h1>
<div style="font-size:24px;color:orange;">
    测试内容 -->
    <!-- 01-request-GET -->
<!--     <a href="/01-template">生成reference</a>
    <h3>scheme:{{ scheme }}</h3> -->
<!--     <h3>body:{{ body }}</h3>
    <h3>path:{{ path }}</h3>
    <h3>full_path:{{ full_path }}</h3>
    <h3>host:{{ host }}</h3>
    <h3>method:{{ method }}</h3>
    <h3>get:{{ get }}</h3>
    <h3>post:{{ post }}</h3>
    <h3>cookies:{{ cookies }}</h3>
    <h3>meta:{{ meta }}</h3>
</div> -->

    <!-- 02-request-POST -->
<!--     <form action="/03-post/" method="post"> -->
        <!-- csrf_token表示要提交给服务器的一个口令 -->
<!--         {% csrf_token %}
        <p>
            用户名称：<input type="text" name="uname">
        </p>
        <p>
            用户密码：<input type="password" name="upwd">
        </p>
        <p>
            <input type="submit">
        </p>       
    </form>
 -->

<!-- register_views -->
<!-- <form action="/04-register/" method="post">
    {% csrf_token %}
    <p>
        姓名：<input type="text" name="name">
    </p>
    <p>
        年龄：<input type="number" name="age">
    </p>
    <p>
        邮箱：<input type="email" name="email">
    </p>
    <p>
        <input type="submit">
    </p> 
</form> -->

<!-- form模块 手动解析-->
<!-- <form action="/06-form/" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{field.label}}:{{field}}
        </p>
    {% endfor %}
    <p>
        <input type="submit">
    </p>
</form> -->

<!-- form模块 自动解析1 -->
<!-- <form action="/06-form/" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <p>
        <input type="submit">
    </p>
</form> -->

<!-- form模块 自动解析2 -->
<!-- <form action="/06-form/" method="post">
    {% csrf_token %}
    <ol>
    {{form.as_ul}}
    </ol>
</form> -->

<!-- form模块 自动解析3 -->
<!-- <form action="/06-form/" method="post">
    {% csrf_token %}
    <table>
        {{form.as_table}}
        <tr>
            <td colspan='2'>
                <input type="submit">
            </td>
        </tr>
    </table>
</form> -->

<!-- form模块的小部件 -->
<form action="" method="post">
    {{form.as_p}}
</form>





</body>
</html>
