<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        function btnAjax(){
            $.get('/12-server/',function(data){
                //data表示响应回来的数据 
                // console.log(data) 
                $.each(data,function(i,obj){
                    console.log("========")
                    console.log("ID:"+obj.pk)
                })              
            },'json');
        }
    </script>
</head>
<body>
<!-- <h2>使用/static/的方式访问静态资源文件</h2>
<img src="/static/images/download2.jpg" whdth="200">
<h2>使用static标签访问静态资源</h2>
{% load static %}
<img src="{% static 'images/download2.jpg' %}" width="200"> -->

<button onclick="btnAjax()">ajax请求</button>

</body>
</html>