<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Title</title>
	<style>
		h1{
			color:red;
		}
	</style>
</head>
<body>
<!-- 	<h1>Templates传参</h1>
	<h1>{{name}}}</h1> -->
<!-- 	<h1>Templates多参数传参</h1>
	<h1>{{params.music}}</h1>
	<h1>{{params.author}}</h1> -->
<!-- 	<h1>其它传参</h1>
	<h1>{{params.music[0]}}</h1>
	<h1>{{params.author.1}}</h1>
	<h1>{{params.name['aa']}}</h1> -->
<!-- 	<h1>过滤器</h1>
	<h1>capitalize:{{params.uname|capitalize}}</h1> -->
<!-- 流程判断 if -->
<!-- 	{% if uname %}
		<h1>welcome:{{uname}}</h1>h1>
	{% else %}
		<h1>
			<a href="{{url_for('login')}}">登陆</a>
		</h1>
	{% endif %} -->

<!--循环遍历 params.list-->
<!-- 	{% for i in params.list %}
		<div>{{i}}</div>
	{% endfor %} -->
<!--遍历字典-->
	<!-- {% for key,value in params.dic.items() %}
		<h1>{{key}}:{{value}}</h1>
	{% endfor %} -->

<!-- 声明一个宏：接收一个字符串参数 -->
	<!-- {% macro showP(str) %}
		<p style="background:orange;">{{str}}</p>
	{% endmacro %}
调用宏，循环遍历params.list
	{% for i in params.list %}
		{{showP(i)}}
	{% endfor %}
 -->

<!-- http_request -->
<!--     <h1>args : {{params.atgs}}</h1>
    <h1>cookies : {{params.cookies}}</h1>
 -->
</body>
</html>